.board-list {
    position: relative;
    height: 100%;
    padding: 0.5rem;
    background-color: #f4f5f7;
}

.boards {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.new-board-btn {
    width: 100%;
    height: 2rem;
    margin-bottom: 0.5rem;
}